hardware/Schematic_Gateway/Schematic/Schematic-backups
hardware/LIB_GATEWAY/KicadLibrary-main
hardware/Schematic_V2_backup/Schematic_V2_backup-backups
hardware/Schematic_V2_backup/DATN_SCHEMATIC-backups