# Build
Debug/
Release/

# IDE
.settings/
*.launch
*.log

# HAL
Drivers/
Middlewares/

# Ignore toàn bộ Core
Core/*

# Cho phép folder
!Core/Src/
!Core/Inc/

# --- SRC ---
Core/Src/*
!Core/Src/main.c
!Core/Src/chuongtrinhchinh.c

# --- INC ---
Core/Inc/*
!Core/Inc/main.h
!Core/Inc/chuongtrinhchinh.h

# Backup
*.bak
